@font-face {
    font-family: 'aileronregular';
    src: url('../fonts/aileron-regular-webfont.eot');
    src: url('../fonts/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-regular-webfont.woff2') format('woff2'),
         url('../fonts/aileron-regular-webfont.woff') format('woff'),
         url('../fonts/aileron-regular-webfont.ttf') format('truetype'),
         url('../fonts/aileron-regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aileronbold';
    src: url('aileron.bold-webfont.woff2') format('woff2'),
         url('aileron.bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronheavy';
    src: url('aileron.heavy-webfont.woff2') format('woff2'),
         url('aileron.heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronlight';
    src: url('aileron.light-webfont.woff2') format('woff2'),
         url('aileron.light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronsemibold';
    src: url('aileron.semibold-webfont.woff2') format('woff2'),
         url('aileron.semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronthin';
    src: url('aileron.thin-webfont.woff2') format('woff2'),
         url('aileron.thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronultralight';
    src: url('aileron.ultralight-webfont.woff2') format('woff2'),
         url('aileron.ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
::selection {  color: #D16767;   background: #ffdedb;}
*{ margin:0; padding: 0; box-sizing: border-box; }
html{ font-size: 62.5%;}
:root{
    --white:#fff;
    --theme:#BB2226;
    --black: #07090d;
    --btn:#FFB84C;
    --font-color:#777777;
    --para:#525252;
}
body{ background-color: rgba(243, 243, 243, 1); font-family: 'aileronregular';}
img.logo{ height: 8rem; width: auto;}
.navbar-nav .nav-link ,.dropdown-item { text-transform: capitalize;font-weight: 400;
    color:var(--font-color);   font-size: 1.6rem;}
.navbar-nav .nav-item{ margin: 0 .4rem;}
.btn-outline,.btn-cover{ font-size: 1.6rem; border-radius: 8px; padding:.6rem 1rem; }
.btn-outline{
    border-color: var(--theme);

}
.btn-outline:hover{ background-color: var(--theme);}
.btn-cover{
    background-color: var(--theme);

}
.btn-cover:hover{ opacity: .99;}
.divider{ height: 4rem;
    background: #ebebeb;}
    .banner {
        background-image: url('../img/help1.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        max-height: 600px;
        min-height: 545px;
        width: 100%;
        background-position: center;
        display: flex;
        place-items: center;
        color: var(--white);
    }
    .banner-contain{ width:80%; margin: auto;}
.banner-contain h1{ font-size: 4rem;}
.banner-contain p{ font-size: 2.4rem;}

.search,.open-app,.question{ width:100%; padding: 3rem;}
.heading {
    /* width: 100%; */
    text-align: center;
    width: 80%;
    margin: auto;
}
.heading h2,.heading1 h2{ color: var(--black); font-size: 3.1rem; font-weight: bold;}
.heading h2 span,.heading1 h2 span{ color: var(--theme); }
.serch-bar{ display: flex; justify-content: center; padding: 3rem 0;}
.serch-bar form{ width: 60%; display: flex; justify-content: center; position: relative;}
.serch-bar .form-control-search{ width:60%; background-color: var(--theme); height: 7rem;
     border-color: var(--theme); outline: none; border: none; font-size: 2rem; padding: 2rem 10rem 2rem 3rem; 
     color: var(--white);}
.serch-bar .form-control-search {
        width: 100%;
        background-color: var(--theme);
        height: 6rem;
        border-color: var(--theme);
        outline: none;
        border: none;
        font-size: 1.5rem;
        padding: 2rem 10rem 2rem 3rem;
        color: var(--white);
        box-shadow: 0px 7px 20px 3px rgba(187, 34, 38, .25);
        border-radius: 10px;
    }
    #icon{
    position: absolute;
    right: 6%;
    top: 35%;
    font-size: 2rem;
    color: var(--white);}
    .form-control-search::placeholder {
        color: var(--white);
        opacity: 1; /* Firefox */
        font-style: italic;
      }
      
      .form-control-search::-ms-input-placeholder { /* Edge 12-18 */
        color:var(--white);
      }

     
      .box {
        height: 20rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;position: relative;
    }
    .box-active:before {
        content: '';
        background-color: var(--theme);
        height: 10px;
        width: 50%;
        position: absolute;
        top: 0;
        border-radius: 10px;
    }
    .heading1 {
        /* width: 100%; */
        text-align: center;
        width: 71%;
        margin: auto;
    }
    .heading1 p{ color: var(--para); font-size: 2rem;}
    .input{width:100%;   margin-bottom: .6rem;}
    .input label {
        font-size: 1.5rem;
        color: var(--font-color);
        margin-bottom: .5rem;
    }
    .input input[type="text"],.input input[type="email"],.input input[type="file"] {
        background-color: #E9E9E9;
        height: 42px;
        width: 100%;
        border: 1px solid #C4CEE8;
        outline: none;
        font-size: 1.5rem;
        padding: 1.4rem 1rem;
        border-radius: 8px;
      
    }

    /* The container */
.container-custom {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 2px;
    left: 6px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #777777;
}
  
  /* On mouse-over, add a grey background color */
  .container-custom:hover input ~ .checkmark {
    background-color: var(--theme);
  }
  
  /* When the radio button is checked, add a blue background */
  .container-custom input:checked ~ .checkmark {
    background-color:  var(--theme);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-custom input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-custom .checkmark:after {
    top: 5px;
    left: 5px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
}
.input-redio{
display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 10px auto;
}
.file {
    background-color: #E9E9E9;
    height: 42px;
    width: 100%;
    border: 1px solid #C4CEE8;
    outline: none;
    font-size: 1.5rem;
    padding: 0.9rem 2rem;
    border-radius: 8px;
}
#file {
    background-color: #fff;
    height: 23px;
    width: 38%;
    outline: none;
    font-size: 1.5rem;
    padding: .2rem 1rem;
    border-radius: 8px;
}
.support_btn{ background-color: var(--btn);
    color: var(--black);
    padding: 1.3rem 1.6rem;
    border: 1px solid var(--btn);
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 700;

}
.start_btn {
    background-color: var(--black);
    color: var(--white);
    padding: 1.3rem 2.6rem;
    border: 1px solid var(
    --black);
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    height: max-content;
    text-transform: uppercase;
}
/* footer {
    width: 100%;
    /* background-color: var(--theme); 
    background-image: url('../img/footer-bg.png');
    color: var(--white);
    padding-bottom: 5rem;
    background-position: right center;
    background-size: cover;
}
.get-start {
    padding-top: 8rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
    padding-bottom: 3rem;
    border-bottom: 1px solid #777777;
    margin-bottom: 4rem;
}
.get-start > h1 {
    font-size: 7rem;
    width: 48%;
    font-weight: 600;
    margin: 0;
}
.start_btn {
    background-color: var(--black);
    color: var(--white);
    padding: 1.3rem 2.6rem;
    border: 1px solid var(
    --black);
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    height: max-content;
    text-transform: uppercase;
}
.logo-footer {
    background: var(--white);
    width: 55%;
    padding: 3rem .6rem;
    border-radius: 10px;
    margin-bottom: 4rem;
}
.logo-footer img{ width: 100%;}
.social-link {
    display: flex;
    justify-content: flex-start;
    font-size: 1.6rem;
}
.social-link i {
    
    font-size: 1.6rem;
}
.social-link i {
    font-size: 1.6rem;
    margin-right: 2rem;
}
.sub-head h4 {
    margin-bottom: 3rem;
    text-transform: capitalize;
    font-size: 2.1rem;
}
.list {    width: 74%;}
.list h4 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
}
.list > p{ font-size: 1.2rem;}
.list ul{ list-style: none;}
.list ul li p i,.list ul li p span{ font-size: 1.7rem; margin-right: 1rem;}
.list ul li p{ font-size: 1.4rem; margin-bottom: .2rem }
.list ul li p:last-child {
    
    margin-bottom: 1.4rem;
}
.list ul li a{ font-size: 1.8rem;}
.list ul{ padding: 0;}
.list ul li a {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    display: block;
    text-transform: capitalize;
} */


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: url("https://xseedsuperteacher.in/assets/img/footer-bg-red.jpg") center #BB2226; background-size: cover;
      font-size: 1.5rem;
  }
  #footer a{color: #fff;}
  
  #footer .footer-newsletter {
    padding: 5rem 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 1.5rem;
    color: #444444;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 2.4rem;
    margin: 0 0 2rem 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #32C156;
  }
  
  #footer .footer-newsletter form {
    margin-top: 3rem;
    background: #fff;
    padding: .6rem 1rem;
    position: relative;
    border-radius: 5rem;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
  }
  
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 10rem);
  }
  
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #218F3D;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type=submit]:hover {
    background: #218F3D;
  }
  
  #footer .footer-top {
    padding: 30px 0 10px 0;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #32C156;
  }
  
  #footer .footer-top .footer-contact p {
   /* font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;*/
  }
  
  #footer .footer-top h4 {
    font-size: 1.6rem;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #218F3D;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #000;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #218F3D;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #000;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #218F3D;
    text-decoration: none;
  }
  
  #footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  #footer .copyright {
    float: left;
  }
  
  #footer .credits {
    float: right;
    font-size: 13px;
  }
  
  #footer .credits a {
    transition: 0.3s;
  }
  
  .font22 {
    font-size: 22px;
}
.font20 {
    font-size: 20px;
}
.divider1 , .top {
    height: 4rem;
    background: #07090D !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.divider1 a {
    color: var(--white);
    font-size: 1.6rem;
    margin-left: 6rem;
    text-decoration: none;
    text-transform: capitalize;
}
.stroies {
    width: 100%;
    background-color: var(--white);
    padding: 3rem 0;
}
.heading-left {
    padding-bottom: 2rem;
}
.heading-left h1 {
    font-size: 2.4rem;
    text-transform: uppercase;
    width: max-content;
    position: relative;
    padding-bottom: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.heading-left h1:before {
    content: '';
    height: 2px;
    background-color: var(--theme);
    width: 100%;
    left: 0;
    top: 100%;
    position: absolute;
}
.main-box {
    width: 100%;
    background: #F3F3F3;
    padding: 2rem;
}
.card-box {
    width: 100%;
    background: var(--white);
    border-bottom: 2px solid var(--theme);
    margin-bottom: 3rem;
}
.card-box-img {
    width: 100%;
    max-height: 220px;
    overflow: hidden;
}
.card-box-body,.card-box-body-2 {
    padding: 2rem 2rem; width:100%;
}
.card-box-body h3 {
    font-size: 2.2rem;
}
.card-box-body p {
    font-size: 1.5rem;
}
.card-box-body span{  font-size: 1.6rem; color: #b8b8b8;}

.date{ color: #b8b8b8; font-size: 1.8rem;}
.heading-detail-content{ width: 100%;}
.heading-detail-content h1 {   font-size: 3rem; color:#07090D;}
.detail-banner{ width: 100%;}
.detail-banner img{ width: inherit; height: auto; max-height: 300px;}
.content-details { width: 100%; color: #545454; font-size: 1.6rem;}
.content-details  p{ padding: 1rem 0;}
.news-details .social-link { color: var(--theme);}
.content-banner{ width: 100%; background-color: var(--white); 
    padding: 2rem 0;

}
.social-link a{font-size: 1.7rem; margin-right: 1.2rem;}
.left-content {
    width: 45%; margin-top: 5rem;
}
.left-content h1 {
    color: var(--black);
    font-size: 4.2rem;
    font-weight: 600;
}
.left-content h1 span{ color: var(--theme);}
.left-content p{ font-size: 2.4rem; color: var(--black);}
.left-content p b{ color: var(--theme);}
.right-content {
    width: 65%;
    display: flex;
    justify-content: end;
}
.right-content img{ width: inherit;}

.content-banner-2{ width: 100%; background-color: var(--white); 
    padding: 2rem 0;

}
.left-content-2 {
    width: 44%; margin-top: 10rem;
}
.left-content-2 h1 {
    color: var(--black);
    font-size: 4.2rem;
    font-weight: 200;
}
.left-content-2 h1 span{ color: var(--theme);}
.left-content-2 p{ font-size: 2.4rem; color: var(--black);}
.right-content-2 {
    width: 56%;
    display: flex;
    justify-content: end;
}
.right-content-2 img {
    width: auto;
    height: 44.2rem;
    max-height: 442px;
}

.card-box-body-2 p {
    font-size: 2.2rem;
    
}
.main-box h2{ text-align: center; font-size: 2.5rem; color: var(--black); margin-bottom: 4rem;}
.para_detail{ width:100%;}
.para_detail h4{ width:100%; color: var(--para); font-size: 2.3rem; font-weight:700 ;}
.para_detail p {
    width: 100%;
    color: var(--para);
    font-size: 1.6rem;
    padding-bottom: 1rem;
}
.para_detail ul{ width:100%; color: var(--para); font-size: 1.8rem;}
.para_detail ul li{ width:100%;}
.fearture{ width:100%; padding: 4rem 0;}
.fearture .icons-fea{ width:100%;}
.fearture .icons-fea span{ width:8rem; height:8rem; background-color: #eaeae6; display: grid;
place-items: center; border-radius: 50%;}
.fearture .icons-fea span img {
    width: 3.5rem;
    height: 3.5rem;
}
.fearture h4 {
    font-size: 2.8rem;
    color: var(--black);
    margin: 4rem 0 2rem;
    font-weight: 600;
}
.fearture p {
    font-size: 1.6rem;
    color: var(--font-color);
}
.fearture a{ font-size: 1.6rem; color: var(--black); text-decoration: underline;}
.fearture a:hover{ text-decoration: none;}
.let-p > div:first-child {
    padding-right: 5rem !important;
}
.let-p > div:last-child {
    padding-left: 5rem !important;
}
.heading p {
    color: var(--para);
    font-size: 2rem;
}
.coupen-main{
    width:100%; padding: 6rem 0;

}
.dot-border {
    border: 3px dashed #BB2226;
    border-radius: 8px;
    padding: 1rem 1.8rem;
    position: relative;
}
.coupen-box{ width: 100%; position: relative;}
.coupen-icon {
    width: auto;
    position: absolute;
    top: 2.6rem;
    right: 2.1rem;
    z-index: 9;
}
.coupen-icon img {
    width: 16rem;
    height: auto;
}
.coupen-box .coupen-para p {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
}
.coupen-box .coupen-heading h1{ color: var(--theme); font-size: 10rem; font-weight: 700; text-transform: uppercase;}
.coupen-box .coupen-btn button{ padding: 1rem 3rem; font-size: 1.8rem; background-color: var(--theme); 
    border-radius: 10px; color: var(--white); border: none; text-transform: uppercase;}
.coupen-detail{  background-color: #E8E8E8; border-radius: 0 0 10px 10px; margin-top: 4rem;
     padding: 2rem; height: 100%;}
.detail-left,.detail-right{ width: 50%;}
.detail-left {
    display: grid;
    place-items: center;
    border-right: 1px solid #777;
    padding: 1rem 2rem;
}
.detail-left h3 {
    font-size: 5.8rem;
    font-weight: 700;
    color: #777;
}
.detail-right{ padding: 1rem 2rem;}
.detail-right h5{  font-size: 3.4rem;
    font-weight: 700;
    color: #777;}
.detail-right p{  font-size: 1.8rem;
    font-weight: 400;
    color: #777;}

.about-main{ width: 100%; padding: 3rem 0;}
.about-box h1{ font-size: 3.2rem; font-weight: 700; margin-bottom: 3rem;
     color: var(--theme);text-transform: uppercase;}
.about-box p,.about-box ul li{ font-size:1.6rem; color: #000; margin-bottom: 1rem;}
.event-main{ width:100%; padding: 3rem 0; }
.heading-event {
    border-top: 1px solid;
    padding: 5rem 0;
}
.heading-event h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
}
.heading-event h2 span{ color: var(--theme);}
.event-box{ width: 100%; margin-bottom: 5rem;}
.event-box .event-img{}
.event-box .event-img img{ width: 100%;}
.event-box .event-detail{}
.event-box .event-detail h4 {
    font-size: 2.4rem;
    color: var(--theme);
    margin: 1.5rem 0;
    min-height: 5.8rem;
    font-weight: 700;
    letter-spacing: .14rem;
}
.event-box .event-detail p {
    font-size: 2rem;
    color: var(--black);
    font-weight: 400;
}
.divider-l {
    height: 2.2rem;
    background: #fff;
}


.form-division {
    width: 100%;
    background-image: url('../img/Group\ 41361.jpg');
    padding: 2.2rem 0;
    background-size: cover;
}
.side-banner {
    height: 100%;
    padding: 0 1rem;
}
.prev-content {
    width: 100%;
    padding: 8rem 0;
    background-color: #fff;
}
.prev-content .img-cover {
    background: rgba(243, 243, 243, 1);
    width: 100%;
    overflow: hidden;
    padding: 6rem 2rem 0;
    position: relative;
}
.prev-content .img-cover img {
    width: 100%;
    transform: scale(1.3);
    height: max-content;
}
.prev-content .list-find {
    width: 100%;
    padding-left: 2rem;
}
.prev-content .list-find ul {
    /* padding-left: 2rem; */
    width: 100%;
    list-style: none;
}
.prev-content .list-find ul li {
    font-size: 1.6rem;
    color: #000;
    position: relative;
    margin-bottom: .5rem;
}
.prev-content .list-find ul li ::before {
    content: "\2022";
    color: var(--theme);
    display: inline-block;
    width: 2rem;
    margin-left: -2rem;
    /* height: 2rem; */
    position: absolute;
    font-size: 4rem;
    top: -16px;
    left: 0;
}
.cnt{}
.cnt h3 {
    font-size: 2.2rem;
    color: var(--theme);
    font-weight: 700;
    margin-bottom: 2rem;
}
.cnt p {
    font-size: 1.6rem;
    font-style: normal;
}
.cnt p.red{ color: var(--theme);}
.cover-side{
    height: 220px;
    width: 70%;
    background: #fff;
    display: grid;
    place-items: center;
    border-radius: 10px;
    margin-top: 15%;
}
section.youtube {
    width: 100%;
    padding: 3rem -0;
    background: #fff;
}
section.youtube img{ height: 500px;}
.head_para {
    width: 100%;
    padding: 7rem 15rem;
}
.head_para h2{ width:100%; font-size: 3.5rem; color: var(--black); margin-bottom: 3rem; font-weight: 600;}
.head_para h2 span{ color: var(--theme);}
.head_para p{ font-size: 2rem;}
.head_para1{
    width: 100%;
    padding: 7rem 15rem;

}
.head_para1 h2{ width:100%; font-size: 2.5rem; color: var(--black); letter-spacing: 3px;}
.head_para1 h2 span{ color: var(--theme);}
.head_para1 p{ font-size: 1.6rem; letter-spacing: 2px;}
.head_para1  table{width:100%; margin-top: 4rem;}
.head_para1  table  tr th{width:33%; text-align: center; }
.head_para1  table  tr th h2{ color: var(--theme);  font-size: 22px; line-height: 1.4; }
.head_para1  table  tr th img{ width: 50px;}
.head_para1  table  tr.sc td {
    width: 23%;
    background-color: #ebebeb;
    text-align: center;
    font-size: 2rem;
    /* margin: 10%; */
    border: 2rem solid #fff;
    padding: .5rem;
}
.head_para1  table  tr.sc:nth-child(odd) > td{
    background-color: #fafafa;
}
.black-regular {
    font-family: 'aileronblack';
}
.top-banner{ width:100%; background-color: var(--theme); padding: 2rem 0;}
.top-banner .divider2 {
    color: var(--white);
    padding: 0 3rem 0 6rem;
}
.top-banner .divider2 h2 {
    color: var(--white);
    font-size: 6.1rem;
    /* font-family: 'aileronbold'; */
    font-weight: 700;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
}
.top-banner .divider2 span{ color: var(--white); font-size: 3rem;     font-weight: 500;}
.top-14 {
    
    margin-top: 13.5rem;
}
a{ text-decoration: none;}
section.blogs {
    width: 100%;
    padding: 3rem 0; background-color: var(--white);
}
.select-area {
    width: 100%;
    padding: 3rem 0;
}
.select-1,.select-2{ border:none; color:var(--theme);  font-size: 2rem; margin-right: 3rem;}
.select-1:focus,.select-2:focus,.select-1:focus-visible,.select-2:focus-visible{
    border: none; outline: none;
}
.border-rad-10{ border-radius: 10px;}
span.foo-title ,span.foo-info {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    padding: 1rem 1.3rem 0;
}
span.foo-title b{ font-size: 1.6rem;}
.edit-banner{ background-size: 100% 100%; max-height:450px; min-height: 440px; }
.edit-banner img {
    width: 43%;
    height: auto;
   
    margin-top: 5rem;
}
.under-stand{ width: 100%; background-color: var(--theme);  padding: 4rem 0 0;}
.info-section{ background-color: var(--white); border-radius: 1rem; padding: 4rem 10rem 5rem; }
.info-section h2{ font-size: 5rem; }
.info-section p{ font-size: 2rem; padding-bottom: 2rem; }
.theme-btn{ padding: 1.4rem 2rem; background: var(--theme); color: var(--white);
border-radius: 10px; font-size: 1.7rem; border: none; outline: none; 
text-transform: uppercase; }
.under-stand-post {
    width: 100%;
    margin-top: 10rem;
}
.under-stand-post .spacing-con{color: var(--white);}
.under-stand-post .spacing-con h3,.book-box h3{ font-size: 4rem; }
.under-stand-post .spacing-con p,.book-box p{font-size: 2rem;}
.us-pic{ width: 100%; }
.book-box {
    padding: 2rem 1rem;
    width: 100%;
}
.us-pic img{ width: 100%; height: auto; }
.book-box h3 {
    font-size: 2.2rem;
    color: var(--theme);
    text-align: left;
    font-weight: 600;
    min-height: 55px;
}
.book-box p{font-size: 1.5rem;text-align: left;}
.head_para3{
    width: 100%;
    padding: 7rem 15rem 2rem;

}
.v_card {
    width: 100%;
    background: var(--theme);
    padding: 1rem;
    margin-bottom: 2rem;
}
.v_img {
    width: 100%;
}
.v_info {
    width: 100%;
    height: 100%;
}
.v_info h4 {
    padding-top: 3rem;
    color: var(--white);
    font-size: 2rem;
    text-align: left;
    text-transform: capitalize;
}
.v_info p{ color: var(--white); font-size: 1.5rem; text-align: left; }


.head_para h2.head {
    width: 100%;
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 1rem;
    font-weight: 600;
}
.head_para p.head_p{font-size: 1.6rem;}
.v-card h4{ width:100%; font-size: 1.8rem; padding: 2rem 0;}
 p.v_c {
    font-size: 1.7rem;
}
.app{ width:100%;  padding: 4rem 8rem 2rem;  margin: 2rem 0;
    border-radius: 10px;  
    background-color: rgba(243, 243, 243, 1);}
    .app img{ width: 60%; }
    .app_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .app-right{
        display: flex;
        
        justify-content: end;
        height: 100%;
    }
    .app_left h1{ font-weight: bold; font-size: 3rem; margin-bottom: 3rem;}
    .app_left h1 span{ color: var(--theme);}
/* responsive query */
@media (max-width:700px) {
    .navbar-collapse {
        padding-bottom: 2rem;
        
        position: fixed;
        width: 100%;
        top: 63px;
        height: 100vh;
        display: grid;
        place-items: center;
        z-index: 99;
        background: #BB222657;
        backdrop-filter: blur(3px);
        left: 0;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background: #fff;
        height: 81%;
        width: 90%;
        margin-right: 5%;
    }
    .navbar-nav .nav-link, .dropdown-item {
      
        font-size: 2rem;
    }

    html{ font-size: 48%;}
    .navbar {
       
        padding: 0 1rem !important;
    }
    .banner {
       
        max-height: 450px;
        min-height: 280px;
        height: auto;
       
    }
    .heading,.heading1 {
       
        
        width: 100%;
       
    }
    .serch-bar form {
        width: 90%;
       
    }
    .heading h2, .heading1 h2 {
        
        font-size: 3.1rem;
      
    }
    .search, .open-app, .question {
        width: 100%;
        padding: 7rem 3rem;
    }
    .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
        width: 100% !important;
        
    }
    .input-redio {
       
        width: 100%;
       
    }
    .checkmark {
       
        height: 15px;
        width: 15px;
       
    }
    .container-custom .checkmark:after {
        top: 2px;
        left: 2px;
        width: 9px;
        height: 9px;
       
    }
    .get-start > h1 {
        font-size: 4rem;
        width: 57%;
        
    }
}